@model ShopHoaTuoi.Models.PhieuNhapViewModel
@{
    ViewBag.Title = "Lập phiếu nhập hoa";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


@section naviheader{
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin" class="nav-link">Trang chủ</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/nhacungcap" class="nav-link">Lập phiếu nhập</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="#" class="nav-link">Thêm mới</a>
        </li>
    </ul>
}


<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>@ViewBag.Title</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Lập phiếu nhập</a></li>
                    <li class="breadcrumb-item active">Thêm mới</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">@ViewBag.Title</h3>
        </div>
        <div class="card-body">
            <div class="bs-stepper-content">
                @using (Html.BeginForm("Add", "PhieuNhapHoa", FormMethod.Post, new { }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    <div class="form-group">
                        @Html.LabelFor(model => model.mancc, "Nhà Cung Cấp")
                        @Html.DropDownListFor(model => model.mancc, new SelectList(ViewBag.NCC, "mancc", "tenncc"), "Chọn nhà cung cấp", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.mancc, "", new { @class = "text-danger" })
                    </div>
                    <h3>Chi tiết phiếu nhập</h3>
                    <div id="invoiceDetails">
                        <div class="detail-item">
                            <div class="form-group">
                                @Html.LabelFor(model => model.cT_PNViewModels[0].mahoa, "Hoa")
                                @Html.DropDownListFor(model => model.cT_PNViewModels[0].mahoa, new SelectList(ViewBag.HOA, "mahoa", "tenhoa"), "Chọn hoa", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.cT_PNViewModels[0].mahoa, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.cT_PNViewModels[0].soluong, "Số lượng")
                                @Html.EditorFor(model => model.cT_PNViewModels[0].soluong, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.cT_PNViewModels[0].soluong, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.cT_PNViewModels[0].gianhap, "Giá nhập")
                                @Html.EditorFor(model => model.cT_PNViewModels[0].gianhap, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.cT_PNViewModels[0].gianhap, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <button type="button" id="addDetail" class="btn btn-primary">Thêm</button>

                    </div>
                    <a href="/admin/nhacungcap" class="btn btn-outline-danger">Quay lại</a>

                    <button type="submit" class="btn btn-outline-success">Lưu</button>
                }
          
        <!-- /.card-body -->
        <div class="card-footer">

        </div>
        <!-- /.card-footer-->
    </div>
            </div>
        </div>
    <!-- /.card -->

</section>
<!-- /.content -->


@section  scripts{
    <script>
        $(document).ready(function () {
            $('.auto').autoNumeric('init');
            $('#gianhap').bind('blur focusout keypress keyup', function () {
                var demoGet = $('#gianhap').autoNumeric('get');
                $('#gianhap').val(demoGet);
                $('#gianhap').autoNumeric('set', demoGet);
            });
            CKEDITOR.replace('txtDetail', {
                customConfig: '/content/ckeditor/config.js',
                extraAllowedContent: 'span',
            });
        });
        $(document).ready(function () {
            var detailCount = 1;
            $("#addDetail").click(function () {
                var newDetail = $("#invoiceDetails .detail-item:first").clone();

                newDetail.find("select").attr("name", "InvoiceDetails[" + detailCount + "].tenhoa");
                newDetail.find("input[name^='InvoiceDetails']").each(function () {
                    var name = $(this).attr("name").replace("[0]", "[" + detailCount + "]");
                    $(this).attr("name", name);
                });

                $("#invoiceDetails").append(newDetail);
                detailCount++;
            });
        });
        function BrowseServer(field) {
            var finder = new CKFinder();
            finder.selectActionFunction = function (fileUrl) {
                document.getElementById(field).value = fileUrl;
            };
            finder.popup();
        }

</script>
}