@model PagedList.IPagedList<ShopHoaTuoi.Models.EF.PHIEUNHAPHOA>
@using PagedList.Mvc;
@using PagedList;
@{ 
    ViewBag.Title = "Danh sách phiếu nhập ";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}



@section naviheader{
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin" class="nav-link">Trang chủ</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/phieunhaphoa" class="nav-link">@ViewBag.Title</a>
        </li>
    </ul>
}
<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">@ViewBag.Title</h3>

            <div class="card-tools">
                <a href="/admin/phieunhaphoa/add" class="btn btn-outline-primary">Thêm mới</a>

            </div>

        </div>
        <table class="table table-hover" style="text-align:center">
            <thead>
                <tr>
                    <th>Tên nhà cung cấp</th>
                    <th>Ngày lập</th>
                    <th>Tổng tiền</th>
                    <th>Tác vụ</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var db = new ShopHoaTuoi.Models.EF.ShopHoaTuoiEntities();
                    var listtenncc = (from p in db.PHIEUNHAPHOAs
                                      join ncc in db.NHACUNGCAPs
                                      on p.mancc equals ncc.mancc
                                      join ct in db.CT_PHIEUNHAPHOA
                                      on p.mapnh equals ct.mapnh
                                      select new
                                      {
                                          p.mancc,
                                          ncc.tenncc,
                                          p.ngaylap,
                                          p.mapnh,
                                          ct.tongtien
                                      }).Distinct().ToList();
                }
                @if (Model != null && Model.Any())
                {
                    foreach (var item in listtenncc)
                    {

                        <tr>
                            <td>@item.tenncc</td>
                            <td>@item.ngaylap</td>
                            <td>@ShopHoaTuoi.Common.Common.FormatNumber(item.tongtien, 0)</td>
                            <td>
                                <a href="/admin/phieunhaphoa/detail/@item.mapnh" class="btn btn-sm btn-outline-info">Xem chi tiết</a>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="4">Không có bản ghi nào!!!</td>
                    </tr>
                }
            </tbody>

        </table>

        <div class="row">
            <div class="col-6"></div>
            <div class="col-6" style="text-align:right">
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @class = "" }))
            </div>
        </div>
    </div>
    <!-- /.card-body -->
    <div class="card-footer">

    </div>
    <!-- /.card -->

</section>
<!-- /.content -->
<div id="dialog">
    <iframe id="myIframe" style="border: 0; width: 100%; height: 100%;"></iframe>
</div>
@section scripts{
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
    
}
