@model IEnumerable<ShopHoaTuoi.Models.EF.CT_PHIEUNHAPHOA>
@using ShopHoaTuoi.Common
@if (Model != null && Model.Any())
{
    int i = 1;
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>STT</th>
                <th>Tên sản phẩm</th>
                <th>Giá nhập</th>
                <th>Số lượng</th>
                <th>Thành tiền</th>
            </tr>

        </thead>
        <tbody>
            @{
                var db = new ShopHoaTuoi.Models.EF.ShopHoaTuoiEntities();
                var list = (from ct in db.CT_PHIEUNHAPHOA
                                  join h in db.HOAs
                                  on ct.mahoa equals h.mahoa
                                  select new
                                  {
                                      H = h,
                                      ChiTiet = ct
                                  })
                        .GroupBy(result => new
                        {
                            result.H.tenhoa,
                            result.ChiTiet.mapnh,
                            result.ChiTiet.soluong,
                            result.ChiTiet.gianhap
                        })
                        .Select(group => new
                        {
                            TongTien = group.Sum(item => item.ChiTiet.tongtien),
                            tenhoa = group.Key.tenhoa,
                            mapnh = group.Key.mapnh,
                            soluong=group.Key.soluong,
                            gianhap=group.Key.gianhap
                        });
            }

            @foreach (var item in list)
            {
              
                    if (Model.First().mapnh == item.mapnh)
                    {
                        <tr>
                            <td>@i</td>
                            <td>@item.tenhoa</td>
                            <td>@ShopHoaTuoi.Common.Common.FormatNumber(item.gianhap,0)</td>
                            <td>@item.soluong</td>
                            <td>@Common.FormatNumber(item.TongTien, 0)</td>
                        </tr>
                        i++;
                    }
                }
        </tbody>
    </table>
}



