@model IEnumerable<ShopHoaTuoi.Models.EF.DANHGIA>
<div class="tab_title reviews_title">
    <h4>Đánh giá (@ViewBag.Count)</h4>
</div>

<!-- User Review -->

@if (Model != null && Model.Any())
{
    foreach (var item in Model)
    {
    <div class="user_review_container d-flex flex-column flex-sm-row">
        <div class="user">
            <div class="user_pic">
                <img src="~/Content/assets/image/icons8-avatar-70.png" style="width:65px; height:60px"/>
            </div>
            <div class="user_rating">
                <ul class="star_rating">
                @Html.Raw(ShopHoaTuoi.Common.Common.HtmlRate(item.rating))
                </ul>
            </div>
        </div>
        <div class="review">
            <div class="review_date">@item.ngaydang.ToString("dd MM yyyy")</div>
            <div class="user_name">@item.TAIKHOAN.KHACHHANG.tenkh</div>
            <p>@item.comment.</p>
        </div>
    </div>
    }
}

