@model PagedList.PagedList<ShopHoaTuoi.Models.EF.HOA>
@using PagedList.Mvc
@using ShopHoaTuoi.Common
@{
    ViewBag.Title = "Danh sách hoa";
}

<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/categories_styles.css">
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/categories_responsive.css">
<link href="~/Content/PagedList.css" rel="stylesheet" />

<div class="container fill_height">
    <div class="row">
        <div class="col product_section clearfix">

            <!-- Breadcrumbs -->

            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li><a href="index.html">Trang chủ</a></li>
                    <li class="active"><a href="/product"><i class="fa fa-angle-right" aria-hidden="true"></i>Tất cả loại hoa</a></li>
                </ul>
            </div>

            <!-- Sidebar -->

            <div class="sidebar">
                <div class="sidebar_section">
                    <div class="sidebar_title">
                        <h5><a href="/product">Danh sách loại hoa</a></h5>
                    </div>
                    @Html.Action("MenuLeft", "Menu")
                </div>

                <!-- Price Range Filtering -->
                @using (Html.BeginForm("FilterProducts", "Product", FormMethod.Post))
                {
                    <div class="sidebar_section">

                        <div class="sidebar_title">
                            <h5>Lọc theo giá</h5>

                            <div>
                                <div>
                                    <input type="checkbox" name="minPrice"> Dưới 500.000
                                </div>
                                <div>
                                    <input type="checkbox" name="priceRange1" value="500000">500.000 - 1.000.000
                                </div>
                                <div>
                                    <input type="checkbox" name="priceRange2" value="1000000">1.000.000 - 2.000.000
                                </div>
                                <div>
                                    <input type="checkbox" name="priceRange3" value="2000000"> Từ 2.000.000
                                </div>
                                <div>
                                    <input type="submit" value="Filter" />
                                </div>

                                <hr />
                            </div>
                        </div>
                    </div>

                }



                <!-- Sizes -->
                <div class="sidebar_section">
                    @*  <div class="sidebar_title">
                            <h5>Sizes</h5>
                        </div>
                        <ul class="checkboxes">
                            <li><i class="fa fa-square-o" aria-hidden="true"></i><span>S</span></li>
                            <li class="active"><i class="fa fa-square" aria-hidden="true"></i><span>M</span></li>
                            <li><i class="fa fa-square-o" aria-hidden="true"></i><span>L</span></li>
                            <li><i class="fa fa-square-o" aria-hidden="true"></i><span>XL</span></li>
                            <li><i class="fa fa-square-o" aria-hidden="true"></i><span>XXL</span></li>
                        </ul>*@
                </div>

                <!-- Color -->
                <div class="sidebar_section">
                    @*<div class="sidebar_title">
                            <h5>Color</h5>
                        </div>
                        <ul class="checkboxes">
                            <li><i class="fa fa-square-o" aria-hidden="true"></i><span>Black</span></li>
                            <li class="active"><i class="fa fa-square" aria-hidden="true"></i><span>Pink</span></li>
                            <li><i class="fa fa-square-o" aria-hidden="true"></i><span>White</span></li>
                            <li><i class="fa fa-square-o" aria-hidden="true"></i><span>Blue</span></li>
                            <li><i class="fa fa-square-o" aria-hidden="true"></i><span>Orange</span></li>
                            <li><i class="fa fa-square-o" aria-hidden="true"></i><span>White</span></li>
                            <li><i class="fa fa-square-o" aria-hidden="true"></i><span>Blue</span></li>
                            <li><i class="fa fa-square-o" aria-hidden="true"></i><span>Orange</span></li>
                            <li><i class="fa fa-square-o" aria-hidden="true"></i><span>White</span></li>
                            <li><i class="fa fa-square-o" aria-hidden="true"></i><span>Blue</span></li>
                            <li><i class="fa fa-square-o" aria-hidden="true"></i><span>Orange</span></li>
                        </ul>
                        <div class="show_more">
                            <span><span>+</span>Show More</span>
                        </div>*@
                </div>

            </div>

            <!-- Main Content -->

            <div class="main_content">

                <!-- Products -->

                <div class="products_iso">
                    <div class="row">
                        <div class="col">

                            <!-- Product Sorting -->

                            <div class="product_sorting_container product_sorting_container_top">
                                <ul class="product_sorting">
                                    <li>
                                        <span class="type_sorting_text">Hiển thị</span>
                                        <i class="fa fa-angle-down"></i>
                                        <ul class="sorting_type">
                                            <li class="type_sorting_btn" data-isotope-option='{ "sortBy": "original-order" }'><span>Hiển thị</span></li>
                                            <li class="type_sorting_btn" data-isotope-option='{ "sortBy": "price" }'><span>Giá</span></li>
                                            <li class="type_sorting_btn" data-isotope-option='{ "sortBy": "name" }'><span>Tên hoa</span></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <span>Show</span>
                                        <span class="num_sorting_text">6</span>
                                        <i class="fa fa-angle-down"></i>
                                        <ul class="sorting_num">
                                            <li class="num_sorting_btn"><span>6</span></li>
                                            <li class="num_sorting_btn"><span>12</span></li>
                                            <li class="num_sorting_btn"><span>24</span></li>
                                        </ul>
                                    </li>
                                </ul>
                                @* <div class="pages d-flex flex-row align-items-center">
                                        <div class="page_current">
                                            <span>1</span>
                                            <ul class="page_selection">
                                                <li><a href="#">1</a></li>
                                                <li><a href="#">2</a></li>
                                                <li><a href="#">3</a></li>
                                            </ul>
                                        </div>
                                        <div class="page_total"><span>of</span> 3</div>
                                        <div id="next_page" class="page_next"><a href="#"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></div>
                                    </div*@
                                <div class="row">
                                    <div class="col-6"></div>
                                    <div class="col-6" style="text-align:right;">
                                        @Html.PagedListPager(Model, page => Url.Action("Search", new { page }))
                                    </div>
                                </div>

                            </div>

                            <!-- Product Grid -->

                            <div class="product-grid" style="margin-top:0px">

                                <!-- Product 1 -->
                                @if (Model != null && Model.Any())
                                {
                                    foreach (var item in Model)
                                    {

                                        <div class="product-item @item.LOAIHOA.maloai" style="height:400px">
                                            <div class="product discount product_filter" style="height:340px">
                                                <div class="product_image" style="width:150px;height:250px">
                                                    <img src="@item.anh" alt="@item.tenhoa" style="width:160px;height:250px">
                                                </div>
                                                <div class="product_info">
                                                    <h6 class="product_name"><a href="/product/detail/@item.mahoa">@item.tenhoa</a></h6>
                                                    <div class="product_price">@Common.FormatNumber(item.giaban, 0)</div>

                                                </div>
                                            </div>
                                            <div class="red_button add_to_cart_button"><a href="#" class="btnAddtocart" data-id="@item.mahoa">add to cart</a></div>
                                        </div>



                                    }
                                }
                            </div>

                            <!-- Product Sorting -->

                            <div class="product_sorting_container product_sorting_container_bottom clearfix">
                                <ul class="product_sorting">
                                    <li>
                                        <span>Show:</span>
                                        <span class="num_sorting_text">04</span>
                                        <i class="fa fa-angle-down"></i>
                                        <ul class="sorting_num">
                                            <li class="num_sorting_btn"><span>01</span></li>
                                            <li class="num_sorting_btn"><span>02</span></li>
                                            <li class="num_sorting_btn"><span>03</span></li>
                                            <li class="num_sorting_btn"><span>04</span></li>
                                        </ul>
                                    </li>
                                </ul>
                                <div class="row">
                                    <div class="col-6"></div>
                                    <div class="col-6" style="text-align:right;">
                                        @Html.PagedListPager(Model, page => Url.Action("Search", new { page }))
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Content/assets/js/categories_custom.js"></script>

}
